<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2007-2019 Crafter Software Corporation. All Rights Reserved.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="[%p] %d{ISO8601} [%t] [%X{siteName}] [%c{2}] | %m %n" />
        </layout>
        <filter class="org.craftercms.engine.util.logging.MdcKeyExistsFilter">
            <param name="key" value="scriptUrl" />
            <param name="acceptIfKeyExists" value="false" />
        </filter>
    </appender>

    <appender name="groovyScriptConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern"
                   value="[%p] %d{ISO8601} [%t] [%X{siteName}] [%c{2}] [%X{scriptUrl}] | %m %n" />
        </layout>
        <filter class="org.craftercms.engine.util.logging.MdcKeyExistsFilter">
            <param name="key" value="scriptUrl" />
            <param name="acceptIfKeyExists" value="true" />
            <param name="denyIfKeyDoesNotExist" value="true" />
        </filter>
    </appender>
    
    <appender name="circularQueueLogAppender"
              class="org.craftercms.engine.util.logging.CircularQueueLogAppender">
        <param name="maxQueueSize" value="100"/>
        <param name="dateFormat" value="yyyy-MM-dd'T'HH:mm:ss.SSSZ"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="[%p] %d{ISO8601} | %m" />
        </layout>
    </appender>

    <appender name="default.file" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${application.logs}/engine.log" />
        <param name="append" value="false" />
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%p] %d{ISO8601} [%t] [%c{2}] | %m %n" />
        </layout>
    </appender>

    <!-- Application Loggers -->
    <logger name="org.craftercms.engine">
        <level value="info" />
    </logger>

    <logger name="org.craftercms.security">
        <level value="info" />
    </logger>

    <!-- 3rdparty Loggers -->
    <logger name="org.springframework.core">
        <level value="info" />
    </logger>

    <logger name="org.springframework.beans">
        <level value="info" />
    </logger>

    <logger name="org.springframework.context">
        <level value="info" />
    </logger>

    <logger name="org.springframework.web">
        <level value="info" />
    </logger>

    <logger name="org.mongodb.driver">
        <level value="warn" />
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="info" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="groovyScriptConsoleAppender" />
        <appender-ref ref="circularQueueLogAppender" />
        <appender-ref ref="default.file"/>
    </root>

</log4j:configuration>
